<div class="col-md-8 col-md-offset-2 panel panel-default" style="margin-top: 40px" ng-controller="updateHouseRoomCtrl">
	<h3>--单间出租--</h3>
	<form class="form-horizontal " role="form" id="roomForm" style="margin-top: 20px;" name="RoomForm" ng-submit="updateRoom(RoomForm.$valid)">
		<div class="form-group col-md-12">
			<label  class="col-md-2 control-label">小区名称</label>
			<div class="col-md-4" ng-class="{'has-error':RoomForm.communityName.$dirty&&RoomForm.communityName.$invalid}">
				<input type="text" class="form-control" name="communityName" ng-model="item.communityName" readonly></div>
		</div>

		<div class="form-group col-md-12 row">
			<label class="col-md-2 col-xs-12 control-label">房屋户型</label>
			<div class="col-md-10 col-xs-12" >
				<div class="col-md-2 col-xs-10" ng-class="{'has-error':roomForm.shi.$dirty&&roomForm.shi.$invalid}">
					<input type="text" class="form-control" name="shi" ng-model="item.shi" required maxlength="1">
					</div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">室</label>
				</div>

				<div class="col-md-2 col-xs-10" ng-class="{'has-error':roomForm.ting.$dirty&&roomForm.ting.$invalid}">
					<input type="text" class="form-control"  name="ting" ng-model="item.ting" required maxlength="1"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">厅</label>
				</div>
				<div class="col-md-2 col-xs-10" ng-class="{'has-error':roomForm.wei.$dirty&&roomForm.wei.$invalid}">
					<input type="text" class="form-control"  name="wei" ng-model="item.wei" required maxlength="1"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">卫</label>
				</div>

				<div class="col-md-2 col-xs-10" ng-class="{'has-error':roomForm.pingmi.$dirty&&roomForm.pingmi.$invalid}">
					<input type="text" class="form-control"  name="pingmi" ng-model="item.totalPingmi" required maxlength="7"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">㎡</label>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12 row">
			<label class="col-md-2 col-xs-12 control-label">楼层</label>
			<div class="col-md-10">
				<div  class="col-md-1 col-xs-3">
					<label class="control-label" >第</label>
				</div>
				<div class="col-md-2 col-xs-7" ng-class="{'has-error':roomForm.louceng.$dirty&&roomForm.louceng.$invalid}">
					<input type="text" class="form-control"  name="louceng" ng-model="item.louceng" readonly></div>
				<div  class="col-md-1 col-xs-2">
					<label class="control-label" >层</label>
				</div>

				<label class="col-md-1 col-xs-3 control-label">共</label>

				<div class="col-md-2 col-xs-7" ng-class="{'has-error':roomForm.totalLouceng.$dirty&&roomForm.totalLouceng.$invalid}">
					<input type="text" class="form-control" name="totalLouceng" ng-model="item.totalLouceng" readonly></div>
				<label class="col-md-1 col-xs-1 control-label">层</label>
			</div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 col-xs-12 control-label">出租间</label>
			<div class="col-md-1 col-xs-3" ng-class="{'has-error':RoomForm.pingmi.$dirty&&RoomForm.pingmi.$invalid}">
				<input type="text" class="form-control col-md-1" style="width: 50px;height: 30px" name="pingmi" ng-model="item.roomArea" required maxlength="3"></div>
			<label class="col-md-1 col-xs-2 control-label" style="width: 10px">㎡</label>
		</div>

		<div class="form-group col-md-12 ">
			<div class="col-md-2 col-md-offset-2">
				<select class="form-control" style="width: 90px" ng-model="item.roomKind">
					<option value="">--卧次--</option>
					<option>主卧</option>
					<option>次卧</option>
					<option>隔断</option>
				</select>
			</div>
			<div class="col-md-2">
				<select class="form-control" style="width: 125px" ng-model="item.gender">
					<option  value="">--性别要求--</option>
					<option>仅限男</option>
					<option>仅限女</option>
					<option>男女不限</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" style="width: 125px" ng-model="item.roomToward">
					<option  value="">--出租间朝向--</option>
					<option>东</option>
					<option>南</option>
					<option>西</option>
					<option>北</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" style="width: 125px" ng-model="item.decorateSituation">
					<option  value="">--装修情况--</option>
					<option>毛坯</option>
					<option>简单装修</option>
					<option>中等装修</option>
					<option>精装修</option>
					<option>豪华装修</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" style="width: 125px" ng-model="item.houseKind">
					<option value="">--住宅类型--</option>
					<option>普通住宅</option>
					<option>公寓</option>
					<option>别墅</option>
					<option>平房</option>
				</select>
			</div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">租金</label>
			<div class="col-md-2">
				<select class="form-control" style="width: 125px" ng-model='item.zujinMethod'>
					<option value="">--租金方式--</option>
					<option>押一付三</option>
					<option>押一付二</option>
					<option>押二付一</option>
					<option>押二付二</option>
					<option>押三付三</option>
				</select>
			</div>
			<div class="col-md-2 col-xs-7" ng-class="{'has-error':RoomForm.yuezu.$dirty&&RoomForm.yuezu.$invalid}">
				<input type="text" class="form-control col-md-2" style="height: 30px" name="yuezu" ng-model="item.price" required maxlength="10"></div>
			<label class="col-md-1 col-xs-4 control-label">元/月</label>

		</div>
		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">房屋配置</label>
			<div class="col-md-10">
				<div class="checkbox col-md-2">
					<label>
						<input type="checkbox" ng-model="item.chuang">床</label>

				</div>
				<div class="checkbox col-md-2">
					<label>
						<input type="checkbox" ng-model="item.yigui" checked>衣柜</label>
				</div>
				<div class="checkbox  col-md-2">
					<label>
						<input type="checkbox" ng-model="item.shafa">沙发</label>
				</div>
				<div class="checkbox  col-md-2">
					<label>
						<input type="checkbox" ng-model="item.dianshi">电视</label>
				</div>
				<div class="checkbox  col-md-2">
					<label>
						<input type="checkbox" ng-model="item.bingxiang">冰箱</label>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<div class="col-md-10 col-md-offset-2">
				<div class="checkbox col-md-2">
					<label>
						<input type="checkbox" ng-model="item.xiyiji">洗衣机</label>
				</div>
				<div class="checkbox col-md-2">
					<label>
						<input type="checkbox"ng-model="item.kongtiao">空调</label>
				</div>
				<div class="checkbox  col-md-2">
					<label>
						<input type="checkbox"ng-model="item.reshuiqi">热水器</label>
				</div>
				<div class="checkbox  col-md-2">
					<label>
						<input type="checkbox"ng-model="item.kuandai">宽带</label>
				</div>
				<div class="checkbox  col-md-2">
					<label>
						<input type="checkbox"ng-model="item.nuanqi">暖气</label>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">标题</label>
			<div class="col-md-5" ng-class="{'has-error':RoomForm.title.$dirty&&RoomForm.title.$invalid}">
				<input type="text" class="form-control" placeholder="请输入小于15个汉字" name='title' ng-model='item.title' maxlength="15" required></div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">房间描述</label>
			<div class="col-md-5" ng-class="{'has-error':RoomForm.describle.$dirty&&RoomForm.describle.$invalid}">
				<textarea class="form-control" rows="3" name="describle" ng-model='item.describle' required placeholder="请输入小于100字" maxlength="100"></textarea>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-offset-2 panel panel-default">
				<div class="panel-body">
					<img ng-src="../image/{{img.imageName}}" ng-repeat="img in item.thumbnail" alt="..." style="height: 100px"></div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">联系人</label>
			<div class="col-md-3" ng-class="{'has-error':RoomForm.hostname.$dirty&&RoomForm.hostname.$invalid}">
				<input type="text" class="form-control" name='hostname' ng-model='item.hostname' required maxlength="4"></div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">联系电话</label>
			<div class="col-md-3" ng-class="{'has-error':RoomForm.hostphone.$dirty&&RoomForm.hostphone.$invalid}">
				<input type="tel" class="form-control" placeholder="请输入11位手机号" name="hostphone" ng-model='item.hostphone' maxlength="11" minlength="11" required></div>
		</div>
		<div class="form-group col-md-12">
			<button type="submit" class="btn btn-success  btn-lg col-xs-offset-2 col-md-offset-10" ng-disabled="RoomForm.$invalid">确认并提交<span class="glyphicon glyphicon-save"></span></button>
		</div>
	</form>
</div>