<div class="col-md-12 panel panel-default" ng-controller="rentForWholeCtrl">
	<h3><span class="my-title">&nbsp;整套出租</span></h3>
	<form class="form-horizontal" role="form" id="wholeForm" style="margin-top: 20px;" name="WholeForm" ng-submit="handInWhole(WholeForm.$valid)" >
		<div class="form-group col-md-12 row">
			<label  class="col-md-2 col-xs-12 control-label">小区地址</label>
			<div class="col-md-10 col-xs-12">
				<div class="col-md-5 col-xs-12" ng-class="{'has-error':WholeForm.communityName.$dirty&&WholeForm.communityName.$invalid}">
					<input type="text" class="form-control" name="communityName" ng-model="communityName" placeholder="地址提交后不能修改" required maxlength="30"></div>
				<div class="col-xs-12 col-md-2">
					<a class="btn btn-link" ng-click="showMap()" onclick="showMap()">地图选址</a>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12 row">
			<label class="col-md-2 col-xs-12 control-label">房屋户型</label>
			<div class="col-md-10 col-xs-12" >
				<div class="col-md-2 col-xs-10" ng-class="{'has-error':WholeForm.shi.$dirty&&WholeForm.shi.$invalid}">
					<input type="text" class="form-control" name="shi" ng-model="shi" required maxlength="1"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">室</label>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-2 col-xs-10" ng-class="{'has-error':WholeForm.ting.$dirty&&WholeForm.ting.$invalid}">
					<input type="text" class="form-control"  name="ting" ng-model="ting" required maxlength="1"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">厅</label>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-2 col-xs-10" ng-class="{'has-error':WholeForm.wei.$dirty&&WholeForm.wei.$invalid}">
					<input type="text" class="form-control"  name="wei" ng-model="wei" required maxlength="1"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">卫</label>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-2 col-xs-10" ng-class="{'has-error':WholeForm.pingmi.$dirty&&WholeForm.pingmi.$invalid}">
					<input type="text" class="form-control"  name="pingmi" ng-model="totalPingmi" required maxlength="7"></div>
				<div class="col-md-1 col-xs-2">
					<label class="control-label">㎡</label>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12 row">
			<div class="col-md-10 col-md-offset-2 col-xs-12">
				<div class="col-md-3 col-xs-12">
					<select class="form-control"  ng-model="houseToward">
						<option  value="">--朝向--</option>
						<option>东南</option>
						<option>西南</option>
						<option>西北</option>
						<option>东北</option>
					</select>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-3 col-xs-12">
					<select class="form-control"  ng-model="decorateSituation">
						<option  value="">--装修情况--</option>
						<option>毛坯</option>
						<option>简单装修</option>
						<option>中等装修</option>
						<option>精装修</option>
						<option>豪华装修</option>
					</select>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-3 col-xs-12">
					<select class="form-control"  ng-model="houseKind">
						<option value="">--住宅类型--</option>
						<option>普通住宅</option>
						<option>公寓</option>
						<option>别墅</option>
						<option>平房</option>
					</select>
				</div>
			</div>
		</div>
		<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
		<div class="form-group col-md-12 row">
			<label class="col-md-2 col-xs-12 control-label">楼层</label>
			<div class="col-md-10">
				<div  class="col-md-1 col-xs-3">
					<label class="control-label" >第</label>
				</div>
				<div class="col-md-2 col-xs-7" ng-class="{'has-error':WholeForm.louceng.$dirty&&WholeForm.louceng.$invalid}">
					<input type="text" class="form-control"  name="louceng" ng-model="louceng" required maxlength="2"></div>
				<div  class="col-md-1 col-xs-2">
					<label class="control-label" >层</label>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<label class="col-md-1 col-xs-3 control-label">共</label>

				<div class="col-md-2 col-xs-7" ng-class="{'has-error':WholeForm.totalLouceng.$dirty&&WholeForm.totalLouceng.$invalid}">
					<input type="text" class="form-control" name="totalLouceng" ng-model="totalLouceng" required maxlength="2"></div>
				<label class="col-md-1 col-xs-1 control-label">层</label>
			</div>
		</div>
		<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">租金</label>
			<div class="col-md-10 col-xs-12">
				<div class="col-md-3 col-xs-12">
					<select class="form-control" ng-model='zujinMethod'>
						<option value="">--租金方式--</option>
						<option>押一付三</option>
						<option>押一付二</option>
						<option>押二付一</option>
						<option>押二付二</option>
						<option>押三付三</option>
					</select>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-2 col-xs-8" ng-class="{'has-error':WholeForm.yuezu.$dirty&&WholeForm.yuezu.$invalid}">
					<input type="text" class="form-control" name="yuezu" ng-model="price" required maxlength="10"></div>
				<label class="col-md-2 col-xs-4 control-label">元/月</label>
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">标题</label>
			<div class="col-md-5" ng-class="{'has-error':WholeForm.title.$dirty&&WholeForm.title.$invalid}">
				<input type="text" class="form-control" placeholder="请输入小于15个汉字" name='title' ng-model='title' maxlength="15" required></div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">房间描述</label>
			<div class="col-md-5" ng-class="{'has-error':WholeForm.describle.$dirty&&WholeForm.describle.$invalid}">
				<textarea class="form-control" rows="3" name="describle" ng-model='describle' required placeholder="请输入小于100字" maxlength="100"></textarea>
			</div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">上传图片</label>
			<div class="col-md-10">
				<input type="file" ng-file-select name="thumbnail" ng-model="files" multiple="multiple" accept="image/*">
				<span class="progress" ng-show="progress >= 0">
					<div ng-class="{progress: true}">
						<div ng-class="['progress-bar', progress-bar-success]" ng-style="{width: progress + '%'}">
							<div>{{progress}}%</div>
						</div>
					</div>
				</span>
				<span ng-show="result">Upload Successful</span>
				<span ng-show="errorMsg">Upload failed</span>
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">联系人</label>
			<div class="col-md-3" ng-class="{'has-error':WholeForm.hostname.$dirty&&WholeForm.hostname.$invalid}">
				<input type="text" class="form-control" name='hostname' ng-model='hostname' required maxlength="4"></div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 control-label">联系电话</label>
			<div class="col-md-3" ng-class="{'has-error':WholeForm.hostphone.$dirty&&WholeForm.hostphone.$invalid}">
				<input type="tel" class="form-control" placeholder="请输入11位手机号" name="hostphone" ng-model='hostphone' maxlength="11" minlength="11" required></div>
		</div>
		<div class="form-group col-md-12">
			<button type="submit" class="btn btn-success  btn-lg col-xs-offset-2 col-md-offset-10" >
				确认并提交
				<span class="glyphicon glyphicon-saved"></span>
			</button>
		</div>
	</form>

	<div class="col-md-12 hidden col-xs-12" id="mapDiv">
		<div class="col-md-12 col-xs-12">
			<form class="navbar-form" >
				<div class="col-md-3 col-xs-12">
					<select class="form-control" ng-model="vm.value" ng-change="cityChange2()">
						<option value="">选择城市</option>
						<optgroup ng-repeat="province in vm.provinces" label="{{province.label}}">
							<option ng-repeat="city in province.cities" value="{{city.label}}">{{city.label}}</option>
						</optgroup>
					</select>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-3 col-xs-12">
					<select class="form-control" ng-model="specialArea.value" ng-change="areaChange2()">
						<option value="">选择区域</option>
						<option ng-repeat="area in areas2" value="{{area.name}}">{{area.name}}</option>
					</select>
				</div>
				<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-5 col-xs-12">
					<input type="text" class="form-control" placeholder="请在地图上选择或者输入你的位置" ng-model="myAddress" id="myAddressId"></div>
					<div class="hidden-md hidden-sm hidden-lg">&nbsp;</div>
				<div class="col-md-1 col-xs-12">
					<span class="btn btn-success" ng-click="closeMap()">
						确定
						<span class="glyphicon glyphicon-saved"></span>
					</span>
				</div>
			</form>
		</div>
		<hr/>
		<div class="col-md-12 panel-body">
			<div class="col-md-6 col-xs-12" style="height: 400px" id="normal_map"></div>
			<div class="col-md-6 col-xs-12" style="height: 400px" id="panorama"></div>

		</div>
	</div>
</div>

<script type="text/javascript">
     var supperMap;//定义一个全局的地图实例
     var supperPanorama;
	//百度地图API功能
	function loadJScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "http://api.map.baidu.com/api?v=2.0&ak=E1YbVFg2KPSaKPgUgtz3syD4&callback=init";
		document.body.appendChild(script);
	}
	function init() {

		var mapOption = {
			mapType: BMAP_NORMAL_MAP,
			maxZoom: 18,
			drawMargin:0,
			enableFulltimeSpotClick: true,
			enableHighResolution:true
		}
      // 创建Map实例
	  var map = new BMap.Map("normal_map",mapOption);      
	  map.centerAndZoom("北京市", 11);
	  supperMap=map;
      map.enableScrollWheelZoom(true);
      // 添加带有定位的导航控件
      var navigationControl = new BMap.NavigationControl({
      // 靠左上角位置
      anchor: BMAP_ANCHOR_TOP_LEFT,
     // LARGE类型
      type: BMAP_NAVIGATION_CONTROL_LARGE,
      // 启用显示定位
       enableGeolocation: true
     });
     map.addControl(navigationControl);
     // 添加定位控件
     var geolocationControl = new BMap.GeolocationControl();
     geolocationControl.addEventListener("locationSuccess", function(e){
    // 定位成功事件
    var address = '';
    address += e.addressComponent.province;
    address += e.addressComponent.city;
    address += e.addressComponent.district;
    address += e.addressComponent.street;
    address += e.addressComponent.streetNumber;
    alert("当前定位地址为：" + address);
  });
  geolocationControl.addEventListener("locationError",function(e){
    // 定位失败事件
    alert(e.message);
  });
  map.addControl(geolocationControl);              //启用滚轮放大缩小

   //创建街景实例
   var panorama = new BMap.Panorama('panorama');
   supperPanorama=panorama;
	}
    showMap= loadJScript;  //异步加载地图
</script>