<div class="col-xs-12" ng-controller="setSecureProtectCtrl">
	<form name="mibaoForm" ng-submit="setmibao()">
		<div class="panel panel-default">
			<div class="panel-heading col-md-12">设置密保问题</div>
			<div class="panel-body col-md-12">
				<div class="col-md-12">
					<div class="col-md-12">
						<label ><span class="glyphicon glyphicon-question-sign"></span>问题1</label>
					</div>
					<div class="col-md-12">
						<select ng-model="user.question1">
						    <option value="">--选择问题1--</option>
							<option >你的出生日期？</option>
							<option >你的小学班主任老师？</option>
							<option >你父亲的生日？</option>
							<option >你母亲的生日？</option>
							<option >你的爱人的名字？</option>
						</select>
					</div>
					<div class="col-md-12">
						<label >答案：</label>
					</div>
					<div class="col-md-12">
						<input type="text" ng-model="user.answer1"></div>

				</div>
				<hr/>
				<div class="col-md-12">
					<div class="col-md-12">
						<label ><span class="glyphicon glyphicon-question-sign"></span>问题2</label>
					</div>
					<div class="col-md-12">
						<select ng-model="user.question2">
							 <option value="">--选择问题2--</option>
							<option >你的出生日期？</option>
							<option >你的小学班主任老师？</option>
							<option >你父亲的生日？</option>
							<option >你母亲的生日？</option>
							<option >你的爱人的名字？</option>
						</select>
					</div>
					<div class="col-md-12">
						<label >答案：</label>
					</div>
					<div class="col-md-12">
						<input type="text" ng-model="user.answer2"></div>

				</div>
				<hr/>
				<div class="col-md-12">
					<div class="col-md-12">
						<label ><span class="glyphicon glyphicon-question-sign"></span>问题3</label>
					</div>
					<div class="col-md-12">
						<select ng-model="user.question3">
							<option value="">--选择问题3--</option>
							<option >你的出生日期？</option>
							<option >你的小学班主任老师？</option>
							<option >你父亲的生日？</option>
							<option >你母亲的生日？</option>
							<option >你的爱人的名字？</option>
						</select>
					</div>
					<div class="col-md-12">
						<label >答案：</label>
					</div>
					<div class="col-md-12">
						<input type="text" ng-model="user.answer3"></div>

				</div>
			</div>
			<div class="panel-footer col-md-12">
				<button type="submit" class="btn btn-success btn-md col-md-offset-11 col-xs-offset-9">提交<span class="glyphicon glyphicon-saved"></span></button>
			</div>
		</div>
	</form>
	<form name="bindEmailFrom">
		<div class="panel panel-default">
			<div class="panel-heading col-md-12">绑定邮箱</div>
			<div class="panel-body col-md-12">
				676022504@qq.com
				<button class="btn btn-success btn-md">绑定<span class="glyphicon glyphicon-saved"></span></button>
			</div>
			<div class="panel-footer col-md-12"></div>
		</div>
	</form>
</div>