<div class="col-md-12 panel panel-default" ng-controller="updatePasswordCtrl">
	<div class="col-md-12 panel-heading">修改密码</div>
	<div class="col-md-12 panel-body">
		<form  role="form" name="updatePassForm" ng-submit="updatePass(updatePassForm.$valid)" novalidate>
			<div ng-class="{'has-error':updatePassForm.oldPassword.$dirty&&updatePassForm.oldPassword.$invalid}" class="col-md-12 row">
				<div class="col-md-4 col-md-offset-3 col-xs-12">
					<input type="password" class="form-control" name="oldPassword" placeholder="旧密码" ng-model="oldPassword" required ng-blur="confirmPass()">
				</div>
				<div class="col-md-3 col-xs-12">
					<span ng-messages="updatePassForm.oldPassword.$error" class="notes">
						<span ng-message="required">*必填项</span>
					</span>
				</div>
				<div class="col-md-3 col-xs-12">
					<span class="notes" ng-bind="passErr">
					</span>
				</div>
			</div>
			<label></label>
			<div ng-class="{'has-error':updatePassForm.newPassword.$dirty&&updatePassForm.newPassword.$invalid}" class="col-md-12 row">
				<div class="col-md-4 col-md-offset-3">
					<input type="password" class="form-control" name="newPassword" placeholder="新密码" ng-model="newPassword" required>
				</div>
				<div class="col-md-3">
					<span ng-messages="updatePassForm.newPassword.$error" class="notes">
						<span ng-message="required">*必填项</span>
					</span>
				</div>
			</div>

			<label></label>
			<div ng-class="{'has-error':updatePassForm.againPass.$dirty&&updatePassForm.againPass.$invalid}" class="col-md-12 row">
				<div class="col-md-4 col-md-offset-3 col-xs-12">
					<input type="password" class="form-control" name="againPass" ng-model="againPassword" placeholder="确认密码" required ng-blur="validatePass()">
				</div>
				<div class="col-md-2 col-xs-12">
					<span ng-messages="updatePassForm.againPass.$error" class="notes">
						<span ng-message="required">*必填项</span>
					</span>
				</div>

				<div class="col-md-12 col-xs-12">
					<span ng-bind="passMessage" class="notes"></span>
				</div>
			</div>

			<div class="col-md-12 row" style="margin-top: 10px">
				<div class="col-md-4 col-md-offset-3">
					<button class="btn btn-primary btn-block" type="submit" ng-disabled="updatePassForm.$invalid" >确认修改<span class="glyphicon glyphicon-saved"></span></button>
			</div>
			</div>
		</form>
	</div>
</div>